{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<div class="p-5 sm:p-10 md:p-20 text-gray-800 pb-64">
    <img class="max-w-sm sm:max-w-sm md:max-w-md lg:max-w-md xl:max-w-xl container justify-center items-center mx-auto flex" src="/static/img/undraw_logistics_x4dc.svg" alt="">
    <h1 class="text-center text-3xl md:text-4xl font-bold text-gray-800 pt-10">Oh, nothing there right now.</h1>
    <p class="text-center text-xl text-green-700">Please visit again next time.</p>
    <div class="pb-40"></div>
</div>

{% endblock %}





