{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<div class="bg-white p-16">
  <div class="container">
  <h1 class="text-4xl font-bold text-gray-800">Website monitoring as simple as posting on Instagram!</h1>
  <p>Receive alerts when your website is down through emails, Slack or SMS, integrated with real time data and insights</p>
  </div>
  <div class="container">
      <img class="h-50 w-50" src="/static/img/explaining_servermonitor.png" alt="">
  </div>
</div>


<!--- ### JavaScript ### -->

<script>
    document.getElementById('button-addon2').addEventListener('click', myFunction);

    function myFunction(){
      $("#loadingmask").fadeTo(2, 0.3);
    }
</script>

<script>
  function checkHost(){
    var h = document.getElementById('url').value.toLowerCase();
    h = h.startsWith("http://")? h.substring(7): h
    h = h.startsWith("https://") ? h.substring(8) : h
    h = h.indexOf("/") > 0 ? h.substring(0,h.indexOf("/")) : h
    var domain = '/' + h;
    console.log(domain)
    window.location = h;
    console.log(window.location)
    return false;
  };
</script>



{% endblock %}