{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<div class="flex content-start bg-white px-20 py-10">
  <div class="w-1/2 py-32">
    <h1 class="text-5xl font-bold text-gray-800 w-30 leading-tight">Website monitoring as simple as posting on Instagram!</h1>
    <p class="py-8 font-light text-2xl text-left text-gray-600 pr-16">Getting real time data, insights and alerts about your website anywhere and anytime immediatly through SMS and E-Mail.</p>
    <div>
      <button class="text-xl shadow-md font-medium bg-orange-500 hover:bg-orange-700 text-white py-2 px-4 rounded">Tell me when it's aviable!</button>
    </div>
  </div>
  <div class="w-2/2 mt-8">
    <img class="right-0" src="/static/img/undraw_google.svg" alt="" width="750" height="750">
  </div>
</div>
<div class="bg-gray-200 p-10">
  <div>
    <h2 class="pb-10 text-center text-gray-800 text-2xl font-medium">We take care of it and you have more time for your business.</h2>
      <div class="w-1/3">
        <div class="h-48 lg:h-auto lg:w-48 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden" style="background-image: url('/img/card-left.jpg')" title="Woman holding a mug">
        </div>
        <div class="border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
          <div class="mb-8">
            <div class="text-gray-900 font-bold text-xl mb-2">Add your website</div>
            <p class="text-gray-700 text-base">Simply adding your website with it's URL.</p>
          </div>
          </div>
        </div>
        <div class="w-2/3">
          <div class="h-48 lg:h-auto lg:w-48 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden" style="background-image: url('/img/card-left.jpg')" title="Woman holding a mug">
          </div>
          <div class="border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
            <div class="mb-8">
              <div class="text-gray-900 font-bold text-xl mb-2">Add your website</div>
              <p class="text-gray-700 text-base">Simply adding your website with it's URL.</p>
            </div>
            </div>
          </div>
          <div class="w-3/3">
            <div class="h-48 lg:h-auto lg:w-48 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden" style="background-image: url('/img/card-left.jpg')" title="Woman holding a mug">
            </div>
            <div class="border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
              <div class="mb-8">
                <div class="text-gray-900 font-bold text-xl mb-2">Add your website</div>
                <p class="text-gray-700 text-base">Simply adding your website with it's URL.</p>
              </div>
              </div>
            </div>
    </div>
  </div>
</div>


<!--- ### JavaScript ### -->

<script>
    document.getElementById('button-addon2').addEventListener('click', myFunction);

    function myFunction(){
      $("#loadingmask").fadeTo(2, 0.3);
    }
</script>

<script>
  function checkHost(){
    var h = document.getElementById('url').value.toLowerCase();
    h = h.startsWith("http://")? h.substring(7): h
    h = h.startsWith("https://") ? h.substring(8) : h
    h = h.indexOf("/") > 0 ? h.substring(0,h.indexOf("/")) : h
    var domain = '/' + h;
    console.log(domain)
    window.location = h;
    console.log(window.location)
    return false;
  };
</script>



{% endblock %}