{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<div>Hallo WELT!</div>

<!--- ### JavaScript ### -->

<script>
    document.getElementById('button-addon2').addEventListener('click', myFunction);

    function myFunction(){
      $("#loadingmask").fadeTo(2, 0.3);
    }
</script>

<script>
  function checkHost(){
    var h = document.getElementById('url').value.toLowerCase();
    h = h.startsWith("http://")? h.substring(7): h
    h = h.startsWith("https://") ? h.substring(8) : h
    h = h.indexOf("/") > 0 ? h.substring(0,h.indexOf("/")) : h
    var domain = '/' + h;
    console.log(domain)
    window.location = h;
    console.log(window.location)
    return false;
  };
</script>



{% endblock %}