{% extends 'base.html' %}

{% block title %}Thank You! | ServerMonitor{% endblock %}

{% block content %}

<div class="p-20 text-gray-800">
    <img class="container justify-center items-center mx-auto flex w-64 h-64" src="/static/img/undraw_having_fun_iais.svg" alt="">
    <h1 class="text-center text-4xl font-bold text-orange-500">Thank you for subscribing!</h1>
    <p class="text-center text-xl font-medium pt-4">You will get informations about the progress of development. If the project goes live, you ...</p>
</div>






<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<script src="https://emailoctopus.com/bundles/emailoctopuslist/js/1.3/formEmbed.js"></script>

{% endblock %}
