{% extends 'base.html' %}

{% block title %}404 - Not found{% endblock %}
{% block content %}
<div class="mx-auto container shadow-sm bg-white rounded">
    <div class="content-section card-body">
        <h1>Oops. Page Not Found (404)</h1>
        <p>This page does not exist. Please try a different location.</p>
        <img src="\static\img\undraw_blank_canvas_3rbb.svg" alt="" class="img-fluid mx-auto" style="max-width: 40%; display: block;">
    </div>
</div>
<div class="mx-auto container border-top pt-2">

</div>
{% endblock %}

